{%load static%}


<li> 
    <article class = "post">  
        <a href="{%url "post-detail-page" "the-mountains"%}">
            <img src="{%static "blog/images/mountain.jpg"%}" alt = "Mountain Hiking ">
            <div class ="post__content">
                <h3> Mountain Hiking</h3>
                <p>There's nothing like views of mountain hiking
                    There's nothing like views of mountain hiking
                    There's nothing like views of mountain hiking
                </p>
            </div>
            
        </a>
    </article>

</li>